* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {    
    align-items: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    min-height: 100vh;
}

form {
    border-radius: 35px;
    padding: 2rem;
    width: 460px;
}

.title__main {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: .5rem;
}

.title__subtitle {
    font-size: 18px;
    margin-bottom: 1.4rem;
}

.container__name {
    column-gap: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form__input {
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 1rem;
    padding: 7px;
    width: 100%;
}

.title__general {
    font-size: 14px;
    margin-bottom: .3rem;
}

.container__date {
    column-gap: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.form__button {
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    width: 100%;
}

/* login */

.form__container--login {
    display: flex;
    flex-direction: column;
    height: 325px;
    justify-content: space-evenly;
    width: 400px;
}